body {background-color:black; 
font-family:arial;
color;white;
}
h1{color:green;font-family:verdana}

.maindiv {
    background:white;width:300px;padding:20px;
    /* border-radius:25px; */
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    margin-top: 20%;
    margin-left:20%;
    align:center
}
footer{
    background:white;
    width:300px;
    padding:20px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    margin-left:20%;
    align:center;
}
#years{
    margin-left:12px;
    border: 1px solid #C1C1C1;
}
#principal{
    margin-left:45px;
    border-radius: 1px;
    border: 1px solid #C1C1C1;
}
#rate{
    cursor: pointer;
    -webkit-appearance: none;
    background:linear-gradient(90deg, #0D74F6 50%, #EFEFEF 50%);
    margin: 10px 0;
    /* color:blue; */
    height:10px;
    border-radius:25px;
    border: 2px solid #C1C1C1;
    margin-left: 8px;
}
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 height: 20px;
 width: 20px;
 background: #0D74F6;
 margin-top: -1px;
 margin-bottom:-1px;
 border-radius: 50%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

